.DS_Store
.htaccess
codein/application/config/config.php
codein/application/config/database.php
grafika/

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
codein/application/cache/*
codein/application/logs/*
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
www/uploads/*
